.boxPrincipal{
    height: 80vh;
    display: flex;
    justify-content: center;
}

.boxDoados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

form{
    height: 60vh;
    width: 25vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid 2px rgba(0, 86, 149, 1);
    border-radius: 15px;
    div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: rgba(0, 86, 149, 1);
    }
    input{
        width: 30vh;
        height: 5vh;
        border-radius: 10px;
        border: solid 2px rgba(0, 86, 149, 1);
        outline: none;
        padding-left: 20px;
        &::placeholder{
            color: rgba(0, 0, 0, 1);
        }
    }
}

input:nth-child(6){
    border: solid 2px ;
    width: 10vw;
    height: 6vh;
    padding-left: 0;
    background-color: rgba(0, 86, 149, 1);
    color: white;
    cursor: pointer;
    font-size: 20px;
}