.boxPrincipal{
    height: 80vh;
    display: flex;
    justify-content: center;
}

.boxDoar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

form{
    height: 60vh;
    width: 25vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid 2px rgba(0, 86, 149, 1);
    border-radius: 15px;
    div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: rgba(0, 86, 149, 1);
    }
    input{
        width: 80%;
        height: 5vh;
        border-radius: 10px;
        border: solid 2px rgba(0, 86, 149, 1);
        outline: none;
        padding-left: 20px;
        &::placeholder{
            color: rgba(0, 0, 0, 1);
        }
    }
}

input:nth-child(6){
    border: solid 2px ;
    width: 40%;
    height: 6vh;
    padding-left: 0;
    background-color: rgba(0, 86, 149, 1);
    color: white;
    cursor: pointer;
    font-size: 20px;
}

@media(max-width: 1080){
    form{
        width: 350px;
    }
}

@media(max-width: 660px){
    .boxDoar{
        height: 90vh;
        h2{
            font-size: 20px;
        }
    }

    .boxPrincipal{
        height: auto;
    }
}

@media(max-width: 460px){
    form{
        width: 75vh;
        div{
            img{
                width: 14vw;
            }
            h3{
                font-size: 4.5;
            }
        }
    }
}