header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
}

.boxLogo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 23vw;
  height: 14vh;
  img {
    width: 50px;
  }
  h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: white;
  }
}

.boxNav {
  width: 35vw;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  li {
    font-size: 20px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.boxDiv {
border: solid 2px white;
width: 17vw;
height: 6vh;
margin-right: 20px;
display: flex;
align-items: center;
justify-content: space-around;
border-radius: 15px;
input{
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: 15px;
  &::placeholder{
    color: white;
  }
}
}

@media (max-width: 1170px) {
  .boxLogo{
    h1{
      font-size: 1.7vw;
    }
    img{
      width: 5vw;
    }
  }

  .boxNav{
    ul{
      font-size: 1.6vw;
    }
  }

  .boxDiv{
    width: 20vw;
    input{
      &::placeholder{
        font-size: 1.3vw;
      }
    }
    }
}

@media(max-width: 760px){
  header{
    height: 25vh;
    flex-direction: column;
    justify-content: space-around;
  }

  .boxDiv{
    display: none;
  }

  .boxLogo{
    width: 100%;
    justify-content: space-evenly;
    h1{
      font-size: 22px;
    }
    img{
      width: 50px;
    }
  }

  .boxNav{
    width: 100%;
    ul{
      font-size: 20px;
    }
  }
}

@media(max-width: 380px){
  .boxNav{
    ul{
      font-size: 18px;
    }
  }
}