footer{
    height: 30vh;
    color: white;
}

.boxMedia{
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(0, 86, 149, 1);
    nav{
        display: flex;
        width: 15vw;
        align-items: center;
        justify-content: space-evenly;
    }
}

.boxLayout{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 12vh;
    background-color: rgba(35, 32, 32, 1);
    p{
        font-weight: 700;
        font-size: 15px;
        color: white;
    }
}

@media(max-width: 1000px){
    .boxMedia{
        nav{
            width: 250px;
        }
    }
}

@media(max-width: 488px){
    .boxMedia{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .boxLayout{
        p{
            text-align: center;
        }
    }
}